.InfoBox {
    background: #151515;
    border: 1px solid rgba(166, 166, 166, 0.2);
    border-radius: 16px;
    width: 100%;
    padding: 24px;
  }
  
  .InfoBox:not(:last-child) {
    margin-bottom: 12px;
  }
  
  .InfoBox__title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
  
    letter-spacing: -0.01em;
  
    color: rgba(255, 255, 255, 0.57);
    margin-bottom: 8px;
  }
  
  .InfoBox__value {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
  
    letter-spacing: -0.01em;
  
    color: #ffffff;
  }
  